$color-primary:red;
$color-secondary:blue;
$color-tertiary:green;


#conteiner{
    border: 2px solid $color-primary;
    display: flex;
    align-items: center;
    flex-direction: column;

    & > h1{
        color: $color-tertiary;
        text-decoration: underline 1px solid $color-secondary;
    }
}

#box{
    display: flex;
    justify-content: center;
    margin: 8px;
    align-items: center;
    border: 1px solid $color-tertiary;
}

.box-blue{
    color: $color-secondary;
}

.box-red{
    color: $color-primary;
}

